<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="Premium Multipurpose Admin & Dashboard Template"
      name="description"
    />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

    <!-- Bootstrap Css -->
    <link
      href="/assets/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link
      href="/assets/css/app.min.css"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"
    />
    <title>Emp List</title>
  </head>

  <body data-sidebar="dark">
    <%- include('include/header') %> <%- include('include/left-sidebar') %>
    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <div class="page-title-box">
                <h4>Employee List</h4>
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">
                    <a href="javascript: void(0);">Lexa</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript: void(0);">Employee List</a>
                  </li>
                  <li class="breadcrumb-item active">Employee List</li>
                </ol>
              </div>
            </div>
          </div>
          <table id="dataTable" class="display" style="color: #303c4c">
            <thead style="color: #303c4c; text-transform: uppercase">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Designation</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <%- include('include/footer') %>
    <script src="/assets/libs/jquery/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/metismenu/metisMenu.min.js"></script>

    <!-- <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>
    <script src="/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script> -->

    <!--Morris Chart-->
    <!-- <script src="/assets/libs/morris.js/morris.min.js"></script>
    <script src="/assets/libs/raphael/raphael.min.js"></script>

    <script src="/assets/js/pages/dashboard.init.js"></script> -->

    <script src="/assets/js/app.js"></script>
  </body>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script>
    "https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css";
  </script>
</html>
<script>
  $(document).ready(function () {
    $("#dataTable").DataTable({
      processing: true,
      serverSide: true,
      ajax: {
        url: "/employee/employee-data",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
      },
      columns: [
        { data: "name" },
        { data: "email" },
        { data: "city" },
        { data: "designation" },
        { data: "salary" },
      ],

      paging: true,
      searching: true,
      processing: true,
      search: {
        regex: true,
      },
    });
  });
</script>
